README-publish filter=lfs diff=lfs merge=lfs -text
settings.gradle filter=lfs diff=lfs merge=lfs -text
testng-1.0.dtd.html filter=lfs diff=lfs merge=lfs -text
build-with-gradle filter=lfs diff=lfs merge=lfs -text
build.gradle filter=lfs diff=lfs merge=lfs -text
eclipse-projects filter=lfs diff=lfs merge=lfs -text
kobaltw filter=lfs diff=lfs merge=lfs -text
maven filter=lfs diff=lfs merge=lfs -text
README.dev filter=lfs diff=lfs merge=lfs -text
README.version filter=lfs diff=lfs merge=lfs -text
update-beust.com filter=lfs diff=lfs merge=lfs -text
ant filter=lfs diff=lfs merge=lfs -text
upload-beta filter=lfs diff=lfs merge=lfs -text
verify-release filter=lfs diff=lfs merge=lfs -text
pom.xml filter=lfs diff=lfs merge=lfs -text
bundle-pom.xml filter=lfs diff=lfs merge=lfs -text
MODULE_LICENSE_APACHE2 filter=lfs diff=lfs merge=lfs -text
README filter=lfs diff=lfs merge=lfs -text
sitemap.xml filter=lfs diff=lfs merge=lfs -text
src filter=lfs diff=lfs merge=lfs -text
TESTNG-5.11beta filter=lfs diff=lfs merge=lfs -text
ANNOUNCEMENT.txt filter=lfs diff=lfs merge=lfs -text
CHANGES.txt filter=lfs diff=lfs merge=lfs -text
deploy-to-maven filter=lfs diff=lfs merge=lfs -text
gradlew filter=lfs diff=lfs merge=lfs -text
gradlew.bat filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
pictures filter=lfs diff=lfs merge=lfs -text
travis.sh filter=lfs diff=lfs merge=lfs -text
build-with-maven filter=lfs diff=lfs merge=lfs -text
doc filter=lfs diff=lfs merge=lfs -text
FILES filter=lfs diff=lfs merge=lfs -text
kobalt filter=lfs diff=lfs merge=lfs -text
LICENSE.txt filter=lfs diff=lfs merge=lfs -text
NOTICE filter=lfs diff=lfs merge=lfs -text
www filter=lfs diff=lfs merge=lfs -text
bin filter=lfs diff=lfs merge=lfs -text
appveyor.yml filter=lfs diff=lfs merge=lfs -text
CleanSpec.mk filter=lfs diff=lfs merge=lfs -text
generate-version-file filter=lfs diff=lfs merge=lfs -text
gradle filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
testng-1.0.dtd.php filter=lfs diff=lfs merge=lfs -text
android-src filter=lfs diff=lfs merge=lfs -text
CHECKLIST filter=lfs diff=lfs merge=lfs -text
lib-supplied filter=lfs diff=lfs merge=lfs -text
METADATA filter=lfs diff=lfs merge=lfs -text
NOTES filter=lfs diff=lfs merge=lfs -text
README.build filter=lfs diff=lfs merge=lfs -text
TODO.txt filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
